input[type='text'], textarea {
    background-color: #dadada;
}

input[type='password'], textarea {
    background-color: #dadada;
}

.btn {
    color: #dadada;
}

/* nav {
    width: 100vw;
} */

#landing-cont {
    background-color: #202020;
}

th {
    color: #dadada;
}

#descriptions {
    color: #dadada;
}
#logout-btn {
    max-height: 30px;
    align-self: center;
}