input[type='text'], textarea {
    background-color: #dadada;
}

input[type='password'], textarea {
    background-color: #dadada;
}

input[type='date'], textarea {
    background-color: #dadada;
    width: 200px;
}

.btn {
    color: #dadada;
}

th {
    color: #dadada;
}

#descriptions {
    color: #dadada;
}

#logout-btn {
    max-height: 30px;
    align-self: center;
}