body {
    /* background-color: #202020; */
    background-image: url("https://miro.medium.com/max/1024/1*9WeJrBj6pp-qnGjRGg2NUw.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

h1 {
    font-size: 70px;
    color: #dadada;
}

h2 {
    font-size: 35px;
    color: #dadada;
}

h3 {
    font-size: 20px;
    color: #dadada;
}