body {
    background-color: #202020;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

h1 {
    font-size: 70px;
    color: #dadada;
}

h2 {
    font-size: 35px;
    color: #dadada;
}

h3 {
    font-size: 20px;
    color: #dadada;
}

#edit-btn {
    background-color: rgb(51, 155, 138);
}

#bottom-btns{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}