body {
    background-color: #202020;
    /* overflow: hidden; */
}

h1 {
    font-size: 70px;
    color: #dadada;
}

h2 {
    font-size: 35px;
    color: #dadada;
}

h3 {
    font-size: 20px;
    color: #dadada;
}